.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        font-size: 1.6rem;
        position: relative;
    }
    &--white {
        color: $color-grey;
        background-color: $color-white;
        &::after {
            background-color: $color-white;
        }
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 20px rgba($color-black, .2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}